<h1>List of Users</h1>

<form action="insert_user_record">
  <label for="username">Username</label>
  <input type="text" id="username" name="new_user" placeholder="Enter a username...">
  <button>Add user</button>
</form>

<table>
<tr>
  <th>ID</th>
  <th>Username</th>
  <th></th>
</tr>
<% @users.each do |user| %>
  <tr> 
      <td> <%= user[1] %> </td>
      <td> <%= user[0] %> </td>
      <td> <a href="/users/<%=user[0]%>">Show details</a>
  </tr>
<% end %>
</table>